mat-card{
  text-align: center;
  background-color: #1370A5;
  font: bold;
  color: white;
  font-size: 25px;
  border : 2px solid black;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.onglet{
  margin-top: 10px;
  margin-left: 5%;
}

agm-map {
  height: 300px;
}
