mat-card{
  text-align: center;
  background-color: #1370A5;
  font: bold;
  color: white;
  font-size: 25px;
  border : 2px solid black;
}

.assistance{
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: #FFFFFF;
  }
