.full-width{
  width: 100%;
}
.boutonEnvoyer{
  background-color: #1370A5;
  color: white;

}
mat-card-actions{
  float: right;
  margin-top: 3%;
}

.margin-left mat-radio-button{
  margin-left:10px;
}

.form-container{
  margin: 100px;


}
.col-md-12{
  margin: 5%;
}
